<mat-toolbar style="background-color:#ff5722;" fxLayout="row" fxLayoutAlign="space-between center">

	<div fxLayout="row">
		<span style="color:#fefefe;">Angular-electron</span>
		<span style="margin-left:0.8rem;font-size:0.8rem;font-weight:900;color:#ffffff;">Release 0.02</span>
	</div>

	<div fxLayout="row">
		<button mat-icon-button *ngIf="mobileQuery.matches" (click)="sidenav.toggle()">
			<mat-icon style="color:#fefefe;">menu</mat-icon>
		</button>
	</div>

</mat-toolbar>

<mat-sidenav-container style="width: 100%;height: calc(100vh - 56px);">

	<mat-sidenav #sidenav [mode]="mobileQuery.matches ? 'over' : 'side'" [opened]="!mobileQuery.matches" style="width:200px;color:#fdfdfd;background-color:#002984;">
		<mat-card style="height:100px;margin:5px;">
			<mat-card-header>
				<div>{{menu}}</div>
			</mat-card-header>
			<mat-card-content>

			</mat-card-content>
		</mat-card>
	</mat-sidenav>

	<mat-sidenav-content style="background-color:#FDFDFD;">
		<router-outlet></router-outlet>
	</mat-sidenav-content>

</mat-sidenav-container>

